<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>FlexView</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FlexView</string>
	<key>CFBundleIdentifier</key>
	<string>FlexView</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSRequiresIPhoneOS</key>
	<string>true</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>YES</string>
	<key>CFBundleExecutable</key>
	<string>FlexView</string>
	<key>UIDeviceFamily</key>
	<array>
	      <integer>1</integer>
	      <integer>2</integer>
	</array>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
	      <string>UIInterfaceOrientationPortrait</string>
	      <string>UIInterfaceOrientationPortraitUpsideDown</string>
	      <string>UIInterfaceOrientationLandscapeLeft</string>
	      <string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
	      <string>UIInterfaceOrientationPortrait</string>
	      <string>UIInterfaceOrientationPortraitUpsideDown</string>
	      <string>UIInterfaceOrientationLandscapeLeft</string>
	      <string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleIconFiles</key>
	<array>
	<string>flexview57</string>
	<string>flexview114</string>
	<string>flexview72</string>
	<string>flexview144</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
	<string>armv7</string>
	</array>
	<key>CFBundleSupportedPlatforms</key>
	<array>
	<string>iPhoneOS</string>
	</array>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>MinimumOSVersion</key>
	<string>5.1</string>
</dict>
</plist>
