<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>get-task-allow</key>
	<true/>
        <key>com.apple.developer.ubiquity-container-identifiers</key>
        <array>
                <string>ZZ2BFWH8Y8.iOSiCloudDoc</string>
        </array>

        <key>com.apple.developer.ubiquity-kvstore-identifier</key>
        <string>ZZ2BFWH8Y8.iOSiCloudDoc</string>
</dict>
</plist>